<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-danger" 
th:fragment="menu-principal">
        <a class="navbar-brand" th:src="@{/}">
        <img th:src="@{/images/logo3.png}" witdh="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="/">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/view/vacantes/indexPaginado}">Vacantes</a>
            </li>
            <li class="nav-item">   
            <!--    <a class="nav-link" th:href="@{/view/categorias/index}">Categorias</a> -->
              
              <a class="nav-link" th:href="@{/view/categorias/indexPaginado}">Categorias</a>
               
              
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="/acerca">Acerca</a>
            </li>        
          </ul>  
          <a class="btn bg-light text-dark" href="#">Ingresar</a>&nbsp;
          <a class="btn bg-light text-dark" href="#">Registrarse</a>
        </div>
      </nav>